h1{
    font-family:ovo;
  }
ul{
    list-style-type: square;
  }
body{
    width:1000px;
    height:500px;
    background-image: url('fox.jpg');
    background-size: 35% 100%;
    background-repeat:no-repeat;
    background-position: 500px 50px;
  }
#my_menu .submenu ul{
    display:none;
    position: fixed;
    list-style-type: none;
    background-color:mediumpurple;
    border-left: 3px solid mediumpurple;
    border-right: 3px solid mediumpurple;
    border-bottom: 3px solid mediumpurple;
    margin-top: 0px;
    padding: 10px;
}
#my_menu .submenu:hover ul{
    display:block;
}
#my_menu{
    background-color: mediumpurple;
}
#my_menu td{
    padding-left: 15px;
    padding-right: 15px;
}


    
