.image{
    width:200px;
    height:200px;
    float:right;
    border-width:10px;
    border-style:dashed;
    border-color:blue;
    background-color:red;
    padding: 0px 0px 0px 0px;
    margin: 60px 20px 60px 20px;
    outline: 25px groove yellow;
}